.body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  display: block;
  @media (max-width: 1200px) {
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}