.main {
  padding: 10px 20px 30px;
  max-width: 595px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.title {

  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 33px;
  color: white;
  font-weight: 600;
  letter-spacing: 0;
}

.mainForm {
  padding: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  position: relative;

}

.mainWrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: relative;
}



