.mainContainerHeader {
  @media (max-width: 500px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    padding: 0 10px;
  }
  @media (min-width: 500px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 26px;
    padding: 0 75px 0 45px;
  }
}
