%carouselIcon {
  font: normal normal normal 28px FontAwesome;
  text-rendering: auto;
  color: #666;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fafafa;;
}

.content {
  max-width: 1200px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.navTabs {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.newTabsButton {
  cursor: pointer;
  font-size: 16px;
  color: #333;
  line-height: 32px;
  float: none;
  display: inline-block;
  padding: 0 15px;
  margin: 0 10px;
}

.newTabsButton:hover {
  background: white;
  border-bottom: 3px solid #28d2d0;
  line-height: 29px;
  border-radius: 5px 5px 0 0;
}

#navTabsSelect {
  border-bottom: 3px solid #28d2d0;
}

.carouselN1 {
  height: 375px;
  @media (max-width: 3000px) and (min-width: 1170px) {
    width: 1170px;
    margin: 0 auto;
    padding: 0 auto;
  }
  @media (max-width: 1170px) and (min-width: 780px) {
    width: 780px;
    margin: 0 auto;
    padding: 0 auto;
  }
  @media (max-width: 780px) and (min-width: 0px) {
    width: 390px;
    margin: 0 auto;
    padding: 0 auto;
  }
}

.moreName {
  height: 91px;
  text-align: center;
}

.exploreButton {
  cursor: pointer;
  margin-top: 30px;
  padding: 18px 60px;
  border: 2px solid #28d2d0;
  color: #49538b !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  background: none;
  display: inline-block;
  border-radius: 5px;
}

.exploreButton:hover {
  background: #28d2d0;
}

.imgSlideRow {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.imgSlide {

  margin: 0 25px 29px 25px;
  width: 335px;
  height: 335px;
  border: 2px solid #28d2d0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  background: #0B3157;
  width: 20px;
  height: 20px;
}

.tabContent {
  width: min-content;
  margin-bottom: 20px;

  .carousel {
    display: flex;
    flex-direction: row;
  }

  .item {
    background-size: contain;
    background-repeat: no-repeat;
    width: 330px;
    height: 330px;
    margin: 25px;
  }
}


.toLeft {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
}

.toRight {
  position: absolute;
  left: 1150px;
  font-size: 30px;
  cursor: pointer;
}
