@mixin button($property1,$property2,$property3) {
  cursor: pointer;
  color: $property1;
  font-weight: 500;
  border: 2px solid #28d2d0 !important;
  background: $property2;
  font: 14px "Lato";
  display: inline-block;
  border-radius: 5px;
  text-transform: $property3;
  padding: 14px 0;
  @media (min-width: 768px) {
    padding: 14px 20px !important;
  }
}

.banner {
  max-width: 1170px;
  width: 100%;
  left: 0;
  margin: 0 auto 30px auto;
  position: relative;
  min-height: 1px;
  color: #333;
  padding-top: 10vw;
  text-align: center;
  @media (max-width: 1200px) {
  }
}

.bannerContent {
  padding: 0 15px;
  position: relative;
  color: #333;
  text-align: center;
  @media (max-width: 992px) {


  }
}

.loadingBar {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

}

.loading {
  overflow: hidden;
  vertical-align: top;
  font-weight: 900;
  position: relative;
  text-align: left;
}

.loading:after {
  top: 45px;
  animation-iteration-count: infinite;
  animation-name: loadingIn;
  animation-duration: 3s;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #28d2d0;
  z-index: 2;
}

.underLoading {
  width: 100%;
  position: absolute;
  background: #28d2d0;
  height: 3px;
  margin-top: 5px;
}

@keyframes loadingIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.myAnimation {
  top: 45px;
  position: absolute;
  height: 3px;
  background: #28d2d0;
  animation-iteration-count: infinite;
  animation-name: loadingIn;
  animation-duration: 3s;
}

.flexForLoading {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bannerContent p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}

.flexList {
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .item {
    width: 100%;
    @media (min-width: 768px) {
      width: auto;
    }

    .itemIntermediateLayer {
      padding: 0 20px;
      @media (min-width: 768px) {
        padding: 0;
      }
    }
  }

}

.startContestButton {
  width: 100%;
  @media (min-width: 768px) {
    width: auto;
  }
  @include button(white, #28d2d0, uppercase);
}

.startContestButton:hover {
  background: #1fbfbd !important;
  color: white;
}

.exploreButton {
  width: 100%;
  @media (min-width: 768px) {
    width: auto;
  }
  @include button(black, none, none);
}

.exploreButton:hover {
  color: #28d2d0;
}

.textOr {
  line-height: 49px;
  padding-right: 20px;
  padding-left: 20px;
}

