.adminPanel {
  font-size: 16px;
  width: 100%;
  color: #363945;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: Gotham SSm A, Gotham SSm B, Halvetica, sans-serif;

  .button {
    position: fixed;
    left: 50vw;
    top: 100vh;
    @media (not screen) {
      transition: margin-top 0.3s;
      margin-top: -20px;
    }
    margin-top: -60px;
    margin-left: -75px;
    width: 150px;
    height: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #28d2d0;
  }

  .button:hover {
    margin-top: -60px;
  }
}


