.body {
  font-size: 16px;
  background-color: #3ea9f5;
  color: #363945;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: Gotham SSm A, Gotham SSm B, Halvetica, sans-serif;
  display: block;
}
