.main {

  max-width: 595px;
  margin: 100px auto 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 500px) {

    margin-left: 0;
    margin-right: 0;
    width: auto
  }
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 38px;

}

.subTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  width: 70%;
  margin: 11px auto 26px auto;
  color: white;
  letter-spacing: 0;
  text-align: center;
}

.mainForm {
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  position: relative;

  input {
    color: #9ca8b7;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 21px 23px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }

}

.mainWrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: relative;
}



