.main {

  width: 38%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mainContactDetails {
  width: auto;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  line-height: 40px;
  padding: 0 15px;
  display: inline-block;
  box-sizing: border-box;
}

.anchorPhone {
  font-family: 'Raleway', sans-serif !important;
  cursor: pointer !important;
  color: #337ab7;
  background-color: transparent;
}
