.titleHeading {
  text-align: center;
  padding-bottom: 20px;

  h3 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  p {
    font-size: 17px;
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  hr {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0;
  }
}