.main {
  text-align: -webkit-match-parent;
  font-size: 16px;
  width: auto;
  border-right: 1px solid #cacaca;
  padding: 0 15px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.anchor {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

.hi {
  color: #718888;
  font-weight: 500;
  font-size: 15px;
}
