.mainTextBlocks {
  @media (min-width: 992px) {
    max-width: 330px;
  }

  .image {
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
  }

  .text {

  }
}

.mainTextBlocksInside {
  margin: 0 15px;
  box-sizing: border-box;
}