.displayForForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preBusinessStepForm {
  width: 100%;
  background: #f8f8f8;
  font-family: 'Raleway', sans-serif;
}

.businessStepForm {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 15px 15px 15px;
}

.preButtonOnForm {
  position: relative;
  width: 100%;
  padding: 30px 0;
  display: inline-block;
  background: white;
  font-family: 'Raleway', sans-serif;
}

.ButtonOnForm {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 992px) {
    padding: 0 30px;
  }

  .text {
    line-height: 25px;
    font-size: 17px;
    @media (max-width: 992px) {
      display: none;
    }
  }

  .buttons {
    @media (max-width: 992px) {
      width: 100%;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .next {
      cursor: pointer;
      background: #f3875d;
      width: 275px;
      height: 60px;
      border-radius: 10px;
      font-size: 19px;
      margin: 0 15px;
      padding: 15px 45px;
      display: block;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    .prev {
      cursor: pointer;
      background: #888;
      font-size: 15px;
      line-height: 21px;
      width: 140px;
      padding: 15px 45px;
      display: block;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.forLabel {
  font-size: 19px;
  color: #585859;
  font-weight: 700;
  margin-top: 12px;
  float: left;
}


.preForInputs {
  @media (max-width: 992px) {
    max-width: 100%;
  }
  width: 100%;
  max-width: 50%;
  border: 2px solid #d0d0d0;
  //padding: 0 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.forInputs {
  box-sizing: border-box;
  height: 48px;
  border-radius: 4px;
  padding: 0 8px;
  box-shadow: none;
  //margin-left:-8px;
  //padding-right: 6px;

  //padding-left:8px;
  //margin: 0 -16px 15px 0;
  //margin-bottom: 15px;
  font-size: 16px;
  width: 100%;
  //max-width:50%!important;
}

.renderField {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  //margin-left:-8px;
  input {
    @media (max-width: 992px) {
      max-width: 100% !important;
    }
    height: 48px;
    border: none;
    box-shadow: none;
    //padding: 0 8px;
    //margin-bottom: 15px;
    font-size: 16px;
    display: inline-block;
    //width:100%;
    //max-width:50%!important;
  }
}

.renderFieldForSelect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  //margin-right:-4px;
  box-sizing: border-box;

  input {
    min-height: 36px;
    box-shadow: none;
    //padding: 0 8px;
    //margin-bottom: 15px;
    font-size: 16px;
  }
}


.forSelect {
  @media (max-width: 992px) {
    max-width: 100% !important;
  }
  width: 100%;
  max-width: 50% !important;
  min-height: 48px;
  box-shadow: none;
  //padding: 0 2px;
  font-size: 16px;
  box-sizing: border-box;
}

.errorMsg {
  color: red;
  font-size: 18px;
  padding: 10px 10px 10px 0;
  text-align: center;
  max-width: 50vw;
}

.inputFile {
  margin: 10px 20px 0 20px;
  max-height: 40px;
}

.forCardField {
  min-width: 70px;
  max-width: 220px;
  display: inline-block;
  width: auto;
}

.creditCard {
  margin: 20px 0;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: white;
}

.formGetEmail {
  position: relative;
  top: 30vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .preInput {
    text-align: center;
    font-size: 16px;
    width: 33%;
    margin: 0 auto !important;
  }

  .inputEmail {
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    width: 33vw;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    min-height: 55px;
    min-width: 200px;
  }

  .button {
    width: 33vw;
    display: block;
    background-color: #28d2d0;
    color: #fff;
    height: 45px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 200px;
  }
}