
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.listLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.avatar {

  margin: 12px 17px 12px 16px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 80px;
  width: 80px;
  height: 80px;
}

.boxForNameAndLvl {
  margin: 12px 59px 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.position {
  @font-face {
    font-family: 'Montserrat-Medium'
  }
  margin-top: 10px;
  color: #0B3157;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.3px;
  line-height: 19px;
  text-align: left;
}

.name {
  @font-face {
    font-family: 'Montserrat-Medium'
  }
  color: #0B3157;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.3px;
  line-height: 19px;
  text-align: left;
}

.level {
  float: left;
  color: #0B3157;
  @font-face {
    font-family: 'Montserrat-Medium'
  }
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.26px;
  line-height: 17px;
  opacity: 0.5;

  height: 24px;
  text-align: left;
}

.icon {
  border-radius: 100%;
  margin: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 55px;
}

.check {
  color: white;
  font-size: 25px;
}
