@mixin flexContainer1($property1) {
  display: flex;
  flex-direction: $property1;
}

@mixin flexContainer2($property1,$property2) {
  display: flex;
  flex-direction: $property1;
  justify-content: $property2;
}

@mixin flexContainer3($property1,$property2,$property3) {
  display: flex;
  flex-direction: $property1;
  justify-content: $property2;
  align-items: $property3;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
  @media (min-width: 768px) {
    max-width: 750px;
  }
  @media (min-width: 992px) {
    max-width: 970px;
  }


}

.ContestMain {
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;

  .banner {
    color: white;
    width: 100%;
    float: left;
    background-color: #465b87;
    margin: 0 auto;
    padding: 35px 0;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 500;

    i {
      font-size: 52px;
      margin-right: 10px;
    }

    .flexRowTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

  }

  .brief {
    margin: 15px 0;

    .controller {
      display: flex;
      flex-direction: row;
      // z-index: 0;
    }

    .pageController {
      padding: 10px 10px 0 10px;
      box-sizing: border-box;
      border-radius: 4px 4px 0 0;
      border: 1px solid #ddd;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      margin-right: 10px;
      border-bottom-color: white;
    }

    .flexRowBrief {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @media (min-width: 992px) {
        flex-direction: row;
      }


      .contestContain {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        @media (min-width: 992px) {
          width: 75%;
          margin: 0 15px;
        }

        .startEntryBlock {
          display: flex;
          width: 100%;
          justify-content: center;

          .startEntry {
            cursor: pointer;
            margin: 20px;
            box-sizing: border-box;
            padding: 20px;
            text-align: center;
            min-width: 100px;
            min-height: 50px;
            display: inline-block;
            border: 2px solid gray;
            border-radius: 50px;
          }

          .startEntry:hover {
            border-color: #28d2d0;
          }
        }
      }

      .info {
        overflow: hidden;
        width: 100%;
        box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
        padding: 50px 40px;
        //z-index: -1;

        .entryContainer {
          padding: 15px;
          box-sizing: border-box;
          border: 1px solid #28d2d0;
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;

          .nickName {
            padding: 10px 0;
          }

          .buttonContainer {
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .Accept {
              color: green;
              border: 2px solid green;
              padding: 5px;
              cursor: pointer;
              border-radius: 50%;
            }

            .Reject {
              color: red;
              border: 2px solid red;
              padding: 5px;
              cursor: pointer;
              border-radius: 50%;
            }
          }
        }

        .field {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .title {
            padding: 15px 0;
            font-family: Raleway, sans-serif;
            font-weight: 700;
            font-size: 16px;
          }

          .text {
            padding: 5px 0;
            font-family: sans-serif;
            color: #515b5f;
            font-size: 15px;
            word-break: keep-all;
            overflow-wrap: break-word;
          }
        }
      }

      .status {
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: 992px) {
          width: 25%;
          margin: 0 15px;

        }

        padding: 0;
        box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);

        .block {
          box-sizing: border-box;

          .header {
            background-color: #6b89b0;
            font-size: 25px;
            color: #fff;
            padding: 12px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            i {
              font-size: 32px;
            }
          }

          .text {
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;


            .time {
              text-align: center;
              padding-top: 10px;
              color: #465b87;
            }

            .entries {

              box-sizing: border-box;
              padding: 20px;
              background: white;
              box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
              font-size: 18px;
              color: #465a89;
              display: flex;
              flex-direction: column;
              align-items: center;

              span {
                padding-top: 5px;
                font-size: 15px;
                color: #8c8e92;
                font-weight: 600;
              }
            }
          }

        }
      }
    }
  }
}