.main {
  display: flex;
  flex-flow: row wrap;
  min-width: 321px;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}

.mainFieldContainer {
  position: relative;
  flex: 1 0 auto;
  min-width: 285px;
  box-sizing: border-box;
  padding: 0 14px 1.15rem;
  text-align: center;
  display: block;
}


.displayColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.Rows {

  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-flow: row wrap;
  min-width: 321px;
  text-align: center;
}

.Row {
  display: flex;
  flex-flow: row;
  min-width: 321px;
  margin-left: auto;
  margin-right: auto;
}

.Field {
  position: relative;
  flex: 1 0 auto;
  min-width: 297px;
  box-sizing: border-box;
  padding: 0 14px 1.15rem;
}

.FieldSocial {
  line-height: 33px;
  background-color: #2d4373;
  color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
  height: auto;
  display: inline-block;
  border: 2px solid #2d4373;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}


.RememberMe {
  float: left;
  padding: 0 14px 1.15rem;
  color: #fff;
  font-size: 14px;
}

.ForgotPassword {
  float: right;
  padding: 0 14px 1.15rem;
  color: #fff;
  font-size: 14px;
}

.flexBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.errorContainer {
  width: 566px;
  margin:14px 0 14px 15px;
 // margin-top: 15px;
  border: 1px solid #b72522;
  font-size: 14px;
  color: #fff;
  padding: 5px 15px;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

input {
  color: #9ca8b7;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 21px 23px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.loginFailed {
  text-align: center;
  margin: 30px 45px 20px 45px;
  padding: 20px;
  border: 1px solid white;
  background: red;
  color: #fff;
  border-radius: 10px;
  line-height: 1.42857143;
}

.insideRow {
  border: 1px solid #fff;
  margin: 15px;
  display: flex;
  flex-flow: row wrap;
  min-width: 525px;
  color: white;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.textBefore {
  text-align: left;
  font-size: 20px;
}

.textAfter {
  display: block;
  font-size: 12px;
}

.miniElem {
  width: 24px;
  height: 13px;
  padding-right: 10px;
}

.checkbox {
  font-weight: normal;
  color: #fff;
  font-size: 15px;
}

.create {
  background-color: #28d2d0;
  -moz-transition: all .05s ease-in;
  -o-transition: all .05s ease-in;
  -webkit-transition: all .05s ease-in;
  -ms-transition: all .05s ease-in;
  transition: all .05s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 64px;
  width: 100%;
  border-width: 0;
  font-size: 20px;
  font-weight: 500;
  border-color: #28d2d0;
  color: white;
  cursor: pointer;
}

.underCreate {
  font-weight: 200;
  font-size: 16px;
  min-width: 555px;
  text-align: center;
  white-space: normal;
  color: #fff;
  line-height: 1.42857143;
}

.underCreate p {
  font-weight: 200;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.terms {
  color: white;
  text-decoration: underline;
}

.tops {
  margin-top: 10px;
}
