.main {
  display: flex;
  flex-flow: row wrap;
  max-width: 595px;
  width: 100vw;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}

.mainFieldContainer {
  position: relative;
  flex: 1 0 auto;
  min-width: 285px;
  box-sizing: border-box;
  padding: 0 14px 1.15rem;
  text-align: center;
  display: block;
}


.displayTwoFields {
  max-width: 595px;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.Rows {

  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-flow: row wrap;
  min-width: 321px;
  text-align: center;
}

.Row {
  display: flex;
  flex-flow: row;
  min-width: 321px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 600px) {
    flex-direction: column;
    min-width: 0;
    width: 100%;
  }
}

.Field {
  position: relative;
  flex: 1 0 auto;


  box-sizing: border-box;
  padding: 0 14px 1.15rem;
}


.preFieldSocial {
  margin: 0 33px;
  @media (max-width: 600px) {
    max-width: 595px;
    margin: 0 20px;
    width: auto;
  }
  width: 100%;
}

.FieldSocial {
  line-height: 33px;
  background-color: #2d4373;
  color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
  height: auto;
  display: inline-block;
  border: 2px solid #2d4373;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}


.RememberMe {

  @media (max-width: 600px) {
    max-width: 595px;
    margin: 0 20px;
    width: auto;
  }
  width: 100%;
  margin: 0 auto;
  float: left;
  padding: 0 14px 1.15rem;
  color: #fff;
  font-size: 14px;
}

.ForgotPassword {
  float: right;
  padding: 0 14px 1.15rem;
  color: #fff;
  font-size: 14px;
}

.flexBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.errorContainer {

  border: 1px solid #b72522;
  font-size: 14px;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  display: block;
  box-sizing: border-box;
  margin: 0 33px 14px 33px;
  @media (max-width: 600px) {
    margin: 0 14px 14px 14px;
  }

}

.preErrorContainer {
  width: 100%;
  min-width: 293px;
  max-width: 595px;
}


.loginFailed {
  text-align: center;
  margin: 30px 45px 20px 45px;
  padding: 20px;
  border: 1px solid white;
  background: red;
  color: #fff;
  border-radius: 10px;
  line-height: 1.42857143;
}

.preInsideRow {
  margin: 15px 33px;

  @media (max-width: 600px) {
    max-width: 595px;
    margin: 15px 20px;
    width: auto;
  }
  width: 100%;

}

.insideRow {
  border: 1px solid #fff;

  display: flex;
  flex-flow: row;

  color: white;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;

}

.textBefore {
  text-align: left;
  font-size: 20px;
}

.textAfter {
  display: block;
  font-size: 12px;

}

.miniElem {
  width: 24px;
  height: 13px;
  padding-right: 10px;
}

.checkbox {
  font-weight: normal;
  color: #fff;
  font-size: 15px;
}

.preCreate {
  margin: 0 33px;
  width: 100%;
  @media (max-width: 600px) {
    width: auto;
    margin: 0 20px;
  }
  max-width: 595px;
}

.create {
  width: 100%;
  background-color: #28d2d0;
  -moz-transition: all .05s ease-in;
  -o-transition: all .05s ease-in;
  -webkit-transition: all .05s ease-in;
  -ms-transition: all .05s ease-in;
  transition: all .05s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 64px;
  border-width: 0;
  font-size: 20px;
  font-weight: 500;
  border-color: #28d2d0;
  color: white;
  cursor: pointer;

}

.underCreate {
  margin: 0 20px;
  max-width: 595px;
  font-weight: 200;
  font-size: 16px;
  min-width: 555px;
  text-align: center;
  white-space: normal;
  color: #fff;
  line-height: 1.42857143;
  @media (max-width: 600px) {
    min-width: 0;
  }
}

.underCreate p {
  font-weight: 200;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @media (max-width: 600px) {
    white-space: pre-wrap;
  }
}

.terms {
  color: white;
  text-decoration: underline;
}

.tops {
  margin-top: 10px;
}
