.list{
  /*  user-select: none;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width:100%;
  border:1px solid rgba(1,1,1,0.03);*/
}

.line{
  background-color: #0B3157;
  opacity: 0.1000000014901161;
  height: 1px;
}

.contact{
 // height:72px;
  height:110px;
  width:100%;
}
