.main {
  text-align: left;
  width: 158px;
  height: 51px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  zoom: 1;
  background-image: url(../../../../images/logo.png);
}
