.FormBlock {
  .title {
    padding: 20px;
    background: #f3f3f3;
    font-weight: 600;
  }

  .content {
    padding: 20px;
  }
}

.allFormBlocks {
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
}
