.main {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 3%;
  margin-top: 0;
  position: relative;
  float: right;
}

.anchor {
  padding: 10px 15px;
  color: white;
  background: #3ea9f5;
  border: 1px solid rgba(255, 255, 255, 0.77);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 0px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-top: 0px;
  position: absolute;
  right: 0px;
}
