
.preProgressMain {
  margin: 0 33px;
  @media (min-width: 768px) {
    max-width: 595px;
    margin: 0 20px;
  }
  width: 100%;
  display: none;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.progressMain {

  padding-right: 15px;
  width: 100%;


  .preTitle {
    top: -45px;
    position: absolute;
  }

  .title {
    display: inline-block;
    text-align: center;
    left: -40%;
    position: relative;
    background: #28d2d0;
    font-size: 15px;
    font-weight: 500;
    min-width: 140px;
    padding: 4px 8px 6px 8px;
    margin: 4px 8px 6px 8px;
    max-width: 200px;
    white-space: pre;
    color: #fff;
    border-radius: 4px;
  }

  .content {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
  }

  .circle {
    flex-wrap: wrap;
    display: inline-block;
    background: #fff;
    min-width: 36px;
    min-height: 36px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
    position: relative;
  }

  .circleComplete {
    border: 2px solid #8aca6b;
    background: #8aca6b;
    margin: 0;
    min-width: 36px;
    min-height: 36px;
    border-radius: 40px;
    position: relative;
    height: 34px;
    z-index: 6;

    .label {
      display: inline-block;
      color: white;
      width: 20px;
      height: 20px;
      margin-left: 8px;
      margin-right: 8px;
      line-height: 36px;
      border-radius: 36px;
      font-size: 17px;
      float: left;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
    }

  }

  .circle:hover {
    z-index: 3;
    min-width: 34px;
    border: 2px solid #28d2d0;
  }

  .circleDone {
    border: 2px solid #28d2d0;
    z-index: 3;
    position: relative;
    display: inline-block;
    background: #fff;
    width: 36px;
    height: 36px;
    border-radius: 40px;

    .label {
      color: #FFF;
      background: #28d2d0;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 8px;
      margin-right: 8px;
      line-height: 36px;
      border-radius: 36px;
      margin-top: 8px;
      font-size: 17px;
      float: left;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;

    }

    .label:before {
      left: 0;
      top: -20px;
      position: relative;
      content: "";
      border: 7px solid transparent;
      border-top: 7px solid #28d2d0;
    }
  }

  .tube {
    position: relative;
    z-index: 2;
    max-width: 90px;
    width: 100%;
    height: 6px;
    margin: 16px -1px 0 -1px;
    border-radius: 0;
    display: inline-block;
    background: #fff;
    border-bottom: 1px solid #d5d5da;
    border-top: 1px solid #d5d5da;
  }

  .tubeFirst {
    min-width: 75px;
    width: 75px;
  }
}