@mixin flexContainer1($property1) {
  display: flex;
  flex-direction: $property1;
}

@mixin flexContainer2($property1,$property2) {
  display: flex;
  flex-direction: $property1;
  justify-content: $property2;
}

@mixin flexContainer3($property1,$property2,$property3) {
  display: flex;
  flex-direction: $property1;
  justify-content: $property2;
  align-items: $property3;
}

.mainFooter {
  width: calc(100vw - (100vw - 100%));
}

.longFooter {
  box-sizing: border-box;
  @media (max-width: 992px) {
    display: none;
  }
  display: block;
  background: #2b3030;
  padding: 86px 25px 86px 25px;
  color: #abadad;
}


.footer {
  box-sizing: border-box;
  background: #232828;
  padding: 40px 0 25px;
  color: white;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  a {
    color: #abadad;
  }

  @media (min-width: 768px) {
    max-width: 750px;
  }
  @media (min-width: 992px) {
    max-width: 970px;
  }
  @media (min-width: 1200px) {
    max-width: 1170px;
  }


}

.flexDataLogoAndIcon {
  @include flexContainer3(row, space-between, flex-start);
  @media (max-width: 650px) {
    @include flexContainer3(row, center, center);
  }
  @media (max-width: 450px) {
    @include flexContainer3(column, center, center);
  }
  width: 100%;
}


.flexData {
  @include flexContainer3(row, space-between, flex-start);
  @media (max-width: 650px) {
    @include flexContainer3(column, center, center);

  }
}

.flexDataIcon {
  @include flexContainer3(row, space-between, flex-start);

}


.flexDataColumn {
  @include flexContainer3(column, flex-start, flex-start);
  box-sizing: border-box;
  width: 25%;
  padding: 0 15px;
  @media (max-width: 1200px) {
    min-width: 50%;
  }
}

.whiteLogo {
  background-image: url("https://www.squadhelp.com/assets/nimages/compressed/header-logo-white-min.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 138px;
  height: 44px;
}

.copyright {
  padding: 10px 0 10px 30px;
  margin: 0 0 5px 33px;
  border-left: 1px solid #3d4141;
  font-size: 14px;
  color: #666868;
  @media (max-width: 450px) {
    align-self: flex-start;
  }
}

.round {
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 5px 0 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;

  .inside {
    position: relative;
    top: 10px;
    height: 30px;

    text-align: center;
    display: flex;

    i {
      width: 100%;
      text-align: center;
    }
  }
}

.round:hover {
  color: #f18762;;
}

;

.googleIcon {
  margin: -3px;
  font-size: 25px;
}

.listFooter {

  box-sizing: border-box;
  width: 25%;
  padding: 0 15px;

  .listTitle {
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
  }

  .listElements {
    @include flexContainer3(column, center, flex-start);
    padding-bottom: 15px;

    a {
      color: #abadad;
    }
  }

  .listElement {
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
  }

  .listElement:hover {
    color: #f18762;;
    text-decoration: underline;
  }
}

.listFooterFirstLine {
  position: relative;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding: 0 15px;
  @media (max-width: 1200px) {
    min-width: 50%;
  }

  .listTitle {
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
  }

  .listElements {
    @include flexContainer3(column, center, flex-start);
    padding-bottom: 15px;

    a {
      color: #abadad;
    }
  }

  .listElement {
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
  }

  .listElement:hover {
    color: #f18762;;
    text-decoration: underline;
  }
}

.horizontLine {
  width: 100%;
  color: white;
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #585858;
  margin-bottom: 30px;
}

.rating {
  width: 100%;
  font-size: 16px;
  padding-top: 7px;
  cursor: pointer;
}

.rating:hover {
  color: #f18762;;
  text-decoration: underline;
}

.firstList {
  padding-bottom: 43px;

}

.listFooterDouble {
  box-sizing: border-box;
  width: 100%;

  .listTitle {
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
  }

  .listElements {
    @include flexContainer3(column, center, flex-start);
    padding-bottom: 15px;

    a {
      color: #abadad;
    }
  }

  .listElement {
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
  }

  .listElement:hover {
    color: #f18762;;
    text-decoration: underline;
  }
}